<%- include('../includes/head.ejs') %>

<head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="text-center text-capitalize">
            <h1>List of clients </h1>
        </div>

    </div>
    <%- include('../includes/end.ejs') %>